// Specific CSS for your home-page

#user_email {
  background-color: rgb(53, 52, 52) ;
  border:2px solid rgb(90, 10, 10);
}

#user_password {
  background-color: rgb(53, 52, 52) ;
  border:2px solid rgb(90, 10, 10);
}

#user_remember_me {
  background-color: rgb(53, 52, 52) ;
  border:2px solid rgb(90, 10, 10);
}
