// Import page-specific CSS files here.
@import "home";
@import "new_spooking";

.killer-card {
  margin: auto;
  width: 700px;
}

.killer-form {
 width: 500px;
 margin: auto;
}

.form-control {
  background-color: rgb(53, 52, 52) ;
  border:2px solid rgb(90, 10, 10);
}

.btn{
  margin-top: 4px;
  border-radius: 8px !important;
  width: 193px !important;
  height: 47px !important;
  border:1px black solid ;
}
body {
  // background-image: url("spooky_hallway.jpeg");
  background-size: 100%;
  background-attachment: fixed;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Raleway, sans-serif;
}

.skull {
  border: 2px solid rgb(90, 10, 10);
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.title {
  font-weight: 1000;
  font-size: 80px;
  margin: 0 auto;
  filter: url(#goo);
  position: relative;
  letter-spacing: -.04em;
  color: rgb(124, 12, 12);
  text-transform: uppercase;
}

.drop {
  width: .1em; height: .1em;
  border-radius: 0 100% 100% 100%;
  background-color: currentColor;
  position: absolute;
  top: 72%;
  animation: drop 3s infinite both;

  &:nth-child(1) {
    left: 14%;
  }

  &:nth-child(2) {
    left: 39%;
    animation-delay: -.4s;
  }

  &:nth-child(3) {
    left: 55%;
    animation-delay: -1.5s;
  }

  &:nth-child(4) {
    left: 82%;
    animation-delay: -.8s;
  }

  &:nth-child(5) {
    left: 95.5%;
    animation-delay: -1.3s;
  }
}

@keyframes drop {
  0% {
    transform: translateY(0) scaleX(.85) rotate(45deg);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(120%) scaleX(.85) rotate(45deg);
    animation-timing-function: ease-in;
  }
  80%, 100% {
    transform: translateY(60vh) scaleX(.85) rotate(45deg);
  }
}

a {
  text-decoration: none !important;
  color: rgb(124, 12, 12);
}


p {
  color:#a73636;;
}

h1 {
  color: rgb(124, 12, 12);
}
h2 {
  color: rgb(124, 12, 12);
}

h3 {
  color: rgb(124, 12, 12);
}

h4 {
  color: rgb(124, 12, 12);
}

label {
  color: rgb(124, 12, 12);
}

.container {

max-width: 1400px
}

.index-glitch {
  position: absolute;
  left: 94px;
}
