// Import page-specific CSS files here.
@import "home";
@import "new_spooking";
@import "show";
@import "sign_in";
@import "new_killer";

body {
  background-size: 100%;
  background-attachment: fixed;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Raleway, sans-serif;
}

.container {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  min-height: 25rem;
}

.killer-card {
  margin: auto;
  width: 20rem;
}


.form-control {
  background-color: rgb(53, 52, 52);
  border: 2px solid rgb(90, 10, 10);
}

.form-group {
  margin-bottom: 0.3rem;
  align-items: center;
}

.form-control-file {
  height: 0.5rem;
}

.title {
  font-size: 5rem;
  position: relative;
  font-family: 'CarnivalCorpseShadowExpanded', sans-serif;
  color: black;
  font-weight: 300;

}


// a {
//   text-decoration: none !important;
//   // color: rgb(124, 12, 12);
//   color: whitesmoke;

// }

p {
  color: whitesmoke;
  ;
}

h2 {
  // color: rgb(124, 12, 12);
  color: whitesmoke;

}

h3 {
  // color: rgb(124, 12, 12);
  color: black;

}

h4 {
  // color: rgb(124, 12, 12);
  color: black;

}

label {
  color: rgb(124, 12, 12);
}

abbr,
accronym {
  display: none;
}
