// Import page-specific CSS files here.
@import "home";


body {
  background-image: url("https://images.unsplash.com/photo-1523804427826-322aa3cfaa42");
  background-size: 100%;
  color: whitesmoke;
}
