.form-group {
  width: 20rem;
  display: block;
  text-align: center;
}

input::-webkit-input-placeholder {
  line-height: normal !important;
}

::placeholder {
  text-align: center;
}

.upload-photo {
  padding: 0.25rem;
  margin: 0;
  width: 18rem;
  color: #495057;
  background-color: #353434;
  font-weight: 600;
  font-family: 'Raleway';

}
