.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;

  .form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;

    label {
      padding-right: 0.5rem;
      color: whitesmoke;

    }
  }
}

.form-control {
  border: 2px solid $red !important;
}

.form-check {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0;
  justify-content: space-around;
  align-items: center;

  .form-check-input {
    position: relative;
    margin-top: 0rem;
    margin-left: 0rem;
  }
}

.other-buttons,
a {
  color: whitesmoke;
}
