.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  border-radius: 5%;
  color: rgb(167, 54, 54);
background-color: rgba($color: #696969, $alpha: 0.4);}
