.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  align-items: center;
}

.card {
  border-radius: 8%;
  color: rgb(167, 54, 54);
  background-color: rgba($color: #8585853e, $alpha: 0.4);
  width: 16rem;
  margin: 1rem;
}

.card-body {
  margin: 0.5rem;
  padding: 1rem 1rem;
}

// .card-body img {
//   border-radius: 10%;

//   width: 200px;
// }


.card-positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}
