.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  align-items: center;
}

.card {
  border-radius: 8%;
  color: rgb(167, 54, 54);
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  width: 220px;
  margin-bottom: 20px;
}

.card-body{
  margin: 1px;
  padding: 5px 5px;
}

.card-body img {
  border-radius: 10%;

  width: 200px;
}

.map-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.map-position{
  width: 70%;
  position: sticky;
  top: 0px;
}

.card-positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}
