.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  align-items: center;
}

.card {
  border-radius: 8%;
  color: rgb(167, 54, 54);
  background-color: rgba($color: #8585853e, $alpha: 0.4);
  width: 12rem;
  margin: 1rem;
}

.card-body {
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;

  h3 {
    font-size: 1.5rem;
  }
}


.card-positions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  grid-auto-rows: 11 rem;
}
