.navbar-lewagon {
  justify-content: space-between;
  background:transparent;
  height: 52px;
  }

.nav-link{
  color: rgb(124, 12, 12) !important;
  }
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
}


#killer_photo {
    color:rgb(124, 12, 12)  ;
}

.upload-photo {
  border: 1px solid #000000;
  border-radius: 10%;
  color: black;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background:rgb(124, 12, 12);
  border-radius: 2px;
}
