.navbar-lewagon {
  justify-content: space-between;
  background: rgb(70, 68, 68);
  border-bottom: 5px solid rgb(61, 3, 3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
