body {
  font-family: Raleway, sans-serif;
  text-align: center;
}

#text1,
#text2 {
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 30pt;
  font-weight: bolder;
  color: #7d0d0d;
  text-align: center;
  user-select: none;
}
