
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="width: 0;height: 0;">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="4" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
      <feBlend in="SourceGraphic" in2="goo" />
    </filter>
  </defs>
</svg>

<h1 class="title">
  Available killers!
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
</h1>



<div class="card-container">
  <% @killers.each do | killer| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong><%= killer.alias %></strong></h5>
          <p class="card-text"><%= killer.name %> </p>
            <%= link_to "View Killer", killer_path(killer), class: "btn btn-danger" %>

        </div>
      </div>
  <% end %>
</div>

    <%= link_to root_path do %>
    <div class="back">
      <h1 class="glitch" data-text="back"> </h1>
      </div>
    <% end %>
