<h2>My Spookings</h2>
<div class="container">
  <div>
    <% @spookings.each do |spooking| %>
      <h4><%= spooking.killer_id %></h4>
      <p><%= spooking.start_date %></p>
      <p><%= spooking.end_date %></p>
    <% end %>
  </div>
</div>
