<h2 class="mt-5">My New Spooking</h2>
<div class="container mt-5">
  <div>
    <%# <% @spooking.each do |spooking| %>
      <h4><%= @spooking.killer.name %></h4>
      <p><%= @spooking.start_date %></p>
      <p><%= @spooking.end_date %></p>
    <%# <% end %>
  </div>
</div>



    <%= link_to spookings_path do %>
    <div class="back">
      <h1 class="glitch" data-text="back"> </h1>
      </div>
    <% end %>
